* {

    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    
    }
    body {
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-direction: column; 
        background-color: black;
    }
    


.text {
    margin: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}

.title{
    display: flex;
    justify-content: center; 
    align-items: center;
    color: blueviolet;
    margin: 1.5rem;
}
#image{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 250px;
    width: 400px;
    margin: 5px;
}
section{
    width: 100vh;
}
